<header class="sectionHeader sectionHeader-large">
  <div class="container container-large">
    <h1>
      <a href="" class="logo hide-text">WorkSpan</a>
    </h1>
  </div>
  <div class="moreOptions phn-hide">
    <div class="container">
      <a href="#" class="fl myWork js-my-work-trigger">My Work <i class="icon-down-open-big iconDown"></i></a>
      <a href="#" class="fr block button red js-invite-form-trigger">Invite</a>
      <div class="clr"></div>
    </div>
  </div>
</header>

<ng-outlet></ng-outlet>

<footer>
  <div class="container">
    <a href="#" class="sectionFooter_logo hide-text ma mt-30">Workspan</a>
    <p class="section_text-small color-grey-2 ta-c mt-30 mb-30 phn-mt-20">
      &copy; 2015 Workspan. All Rights Reserved.
    </p>
  </div>
</footer>