<header class="sectionHeader sectionHeader-large">
  <div class="container container-large">
    <h1>
      <a href="" class="logo hide-text" translate="global.workspan"></a>
    </h1>
  </div>
  <div class="moreOptions phn-hide">
    <div class="container">
      <a href="#" class="fl myWork js-my-work-trigger">My Work <i class="icon-down-open-big iconDown"></i></a>
      <a href="#" class="fr block button red js-invite-form-trigger">Invite</a>
      <div class="clr"></div>
    </div>
  </div>
</header>