<header class="sectionHeader sectionHeader-large">
  <div class="container container-large">
    <h1 class="fl">
      <a href="" class="logo hide-text" translate="global.workspan"></a>
    </h1>
    <app-header-menu></app-header-menu>
    <div class="clr"></div>
  </div>
  <div class="moreOptions phn-hide">
    <div class="container">
      <app-header-work></app-header-work>
      <a href="#" class="fr block button red js-invite-form-trigger">Invite</a>
      <div class="clr"></div>
    </div>
  </div>
</header>